[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"

[packages]
django = "==3.0.2"
djangorestframework = "==3.11.0"
django-rest-knox = "==4.1.0"
django-cors-headers = "==3.2.1"
asgiref = "==3.2.3"
autopep8 = "==1.4.4"
cffi = "==1.13.2"
cryptography = "==2.8"
django-versatileimagefield = "==2.0"
drf-writable-nested = "==0.5.4"
pep8 = "==1.7.1"
pycodestyle = "==2.5.0"
pycparser = "==2.19"
python-magic = "==0.4.15"
pytz = "==2019.3"
six = "==1.13.0"
sqlparse = "==0.3.0"
Pillow = "==7.0.0"

[requires]
python_version = "3.6"
